@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 25, 47;
  --background-start-rgb: 248, 249, 250;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #0a192f;
  background: #f8f9fa;
  -webkit-font-smoothing: antialiased; /* Fontların pürüzsüz görünmesini sağlar */
  -moz-osx-font-smoothing: grayscale;
}

/* Başlıklar için Playfair fontu */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair), serif;
}

/* LÜKS SCROLLBAR (Tarayıcı çubuğunu özelleştirir) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a192f;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4af37; /* Üzerine gelince Altın rengi olur */
}

/* Altın Rengi Metin Efekti */
.text-gradient-gold {
  background: linear-gradient(135deg, #d4af37, #ffe585, #aa8c2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
